<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563415208312-s4u3f25amsm7meusnth5lih1pgdqbpf0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563415208312-s4u3f25amsm7meusnth5lih1pgdqbpf0</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ_2Icca-BKjiqEmphHQZTyMF2kQrCPDA</string>
	<key>GCM_SENDER_ID</key>
	<string>563415208312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vinhan.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-acea2</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-acea2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563415208312:ios:c0c8b62e0230d2ced1b88d</string>
</dict>
</plist>